{% extends 'cats/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'cats/css/add_cat.css' %}">
{% endblock %}

{% block contenido %}

        <h1>Agregar Gato</h1>
        <p>Formato de ingreso: </p> 
        <p>Escribir "Gato:" y presionar enter antes de enviar al gato</p>
        <form method="POST" id=add enctype="multipart/form-data">
            {% csrf_token %} {{ form.as_table }}
            <br>
            
            <button type="submit" class="btn btn-primary">DAR EN ADOPCION</button>
        </form>
        {{mensaje}}
{% endblock%}