<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Listar cats</title>
  </head>

  <body>
    <h2>Lista de Gatos</h2>

    {% for c in cats %}
        <div>
            <p> Id: {{ c.id }} </p>
            <p> Nombre: {{ c.name_cat }}</p>
            <pre>{{ c.ascii_cat}} </pre>          
            <p> Descripcion {{ c.desc_cat }} </p>
        </div>
        <br>
    {% endfor %}

  </body>
</html>
