
#add{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

h1{
    text-align: center;
}

p{
    text-align: center;
    font-size: 20px;
}
.saguardo{
    font-size: 25px;
}
.msg1{
    text-align: center;
}