{% extends 'cats/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'cats/css/add_cat.css' %}">
{% endblock %}

{% block contenido %}

<h1>Agregar Gato</h1>
<p>Formato de ingreso: </p>
<p>Escribir "-" y presionar enter antes de enviar al gato</p>
<div class="saguardo">
    <form method="POST" id="add" enctype="multipart/form-data">
        {% csrf_token %}

        <div>
            <div class="form-group col-12">
                <label for="name_cat">Nombre de gatito</label><br>
                <input name="name_cat" class="form-control" type="text" />
            </div>
        </div>
        <div>
            <div class="form-group col-12">
                <label for="ascii_cat">Gatito</label><br>
                <textarea name="ascii_cat" rows="10" cols="40" class="form-control"></textarea>
            </div>
        </div>
        <div>
            <div class="form-group col-12">
                <label for="desc_cat">Historia del gatito</label><br>
                <textarea name="desc_cat" rows="10" cols="40" class="form-control"></textarea>
            </div>
        </div>
        <div>
            <div class="form-group col-12">
                <label for="imagen_cat">Foto del gatito (.jpg o .png)</label><br>
                <input type="file" name="imagen_cat" accept="image/png, image/jpeg">
            </div>
        </div>



        <button type="submit" class="btn btn-primary">DAR EN ADOPCION</button>
    </form>
    <div class="msg1 col-12">
        {{mensaje}}
    </div>
</div>
{% endblock%}

{% block js %}
<!-- Local JS -->
<script src="{% static 'cats/js/validacion.js' %}"></script>
{% endblock %}