{% extends 'cats/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'cats/css/listar_cats.css' %}">
{% endblock %}

{% block contenido %}
    
    <h2>Lista de Gatos</h2>

    {% for c in cats %}
        <div class="item">
          <div class="d1">
              <p class="name">{{ c.name_cat }}</p> 
          </div>
          <div class="row">
            <div class="col-lg-3" name="imagen">
                <img src="media/{{c.imagen_cat}}" class="cats" alt="cat">
            </div>
            <div class="col-lg-9">
                <p class="desc">{{ c.desc_cat }}</p>
            </div>
          </div>
          <div class="d3">
            <button class="btn btn-primary copy-btn" data-id={{c.id}}>Copiar</button>
            <pre hidden id="{{c.id}}">{{c.ascii_cat}} </pre>
          </div>
          {% if user.is_authenticated %}
          <div class="d4" id="d4">
            <button class="btn btn-primary">Editar</button>
            <pre hidden id="{{c.id}}">{{c.id}}</pre>
          </div>
          <div class="d5">
            <button class="btn btn-primary">Borrar</button>
            <pre hidden id="{{c.id}}">{{c.id}}</pre>
          </div>
          {% endif %}      
        </div>
        <br>
    {% endfor %}
{% endblock %}

{% block js %}
    <script src="{% static 'cats/js/btn-copiar.js' %}"></script>
{% endblock %}